<h1 mat-dialog-title>Edit Company Form</h1>
<div mat-dialog-content>
  <form [formGroup]="companyForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput aria-label="Name" formControlName="name">
      <mat-error *ngIf="companyForm.controls.name.errors">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quota</mat-label>
      <input type="number" matInput aria-label="Quota" formControlName="quota">
      <mat-error *ngIf="companyForm.controls.quota.errors">This field is required!</mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="companyForm.invalid">Confirm</button>
</div>

