<app-create-user *ngIf="showCreateWindow"
                 (onUserCreate)="getUsers(); toggleCreateWindow()"
                 @slider
                 (onCancel)="toggleCreateWindow()">
</app-create-user>

<button *ngIf="!showCreateWindow"
        mat-mini-fab
        class="m-32"
        color="primary"
        style="margin-right: 0"
        (click)="toggleCreateWindow()">
  <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="users" class="mat-elevation-z8 m-32">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Lastname</th>
    <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="company">
    <th mat-header-cell *matHeaderCellDef> Company</th>
    <td mat-cell *matCellDef="let user">
      <div class="correction-column">
        {{user.company.name}}
        <div>
          <button mat-icon-button aria-label="edit" class="edit-btn" (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="delete" class="del-btn" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

