<mat-card class="mat-elevation-z7 m-32">
  <mat-card-title>New User</mat-card-title>
  <mat-card-content>
    <form [formGroup]="userForm">

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput aria-label="Name" formControlName="name">
          <mat-error *ngIf="userForm.controls.name.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input type="text" matInput aria-label="Lastname" formControlName="lastname">
          <mat-error *ngIf="userForm.controls.lastname.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="text" matInput aria-label="Email" formControlName="email">
          <mat-error *ngIf="userForm.controls.email.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline">
          <mat-label>Company</mat-label>
          <mat-select>
            <mat-option *ngFor="let company of companies"
                        [value]="company.id.toString()"
                        (onSelectionChange)="onChange($event, company)">
              {{company.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.controls.company.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createUser()" [disabled]="userForm.invalid">
      Create
    </button>
    <button mat-button (click)="onCancel.emit()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
