<div class="m-32 container">

  <mat-form-field>
    <mat-label>Month and Year</mat-label>
    <input matInput [matDatepicker]="dp" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp
                    startView="multi-year"
                    (yearSelected)="chosenYearHandler($event)"
                    (monthSelected)="chosenMonthHandler($event, dp)"
                    panelClass="example-month-picker">
    </mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="showAbusersCompanies()" [disabled]="disabled">Show Report</button>

  <button mat-raised-button color="primary" (click)="createTransferData()" [disabled]="disabled">Generate Data</button>

</div>

<div class="m-32">

  <table *ngIf="abusersCompanies" mat-table [dataSource]="abusersCompanies" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let company"> {{company.name}} </td>
    </ng-container>

    <ng-container matColumnDef="quota">
      <th mat-header-cell *matHeaderCellDef> Quota</th>
      <td mat-cell *matCellDef="let company"> {{company.quotaString()}} </td>
    </ng-container>

    <ng-container matColumnDef="used">
      <th mat-header-cell *matHeaderCellDef> Used</th>
      <td mat-cell *matCellDef="let company"> {{company.usedString()}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

