.mat-input-element {
  color: white;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}

.mat-raised-button {
  display: flex;
  margin: 10px 0;
}

.mat-form-field {
  margin-top: 10px;
}

.container {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
}

