<mat-toolbar color="primary" class="mat-elevation-z10">
  <a mat-button routerLink="/companies">Companies</a>
  <a mat-button routerLink="/users">Users</a>
  <a mat-button routerLink="/abusers">Abusers</a>
</mat-toolbar>
