<div mat-dialog-content>
  <form [formGroup]="userForm">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input type="text" matInput aria-label="Name" formControlName="name">
      <mat-error *ngIf="userForm.controls.name.errors">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lastname</mat-label>
      <input type="text" matInput aria-label="Lastname" formControlName="lastname">
      <mat-error *ngIf="userForm.controls.lastname.errors">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="text" matInput aria-label="Email" formControlName="email">
      <mat-error *ngIf="userForm.controls.email.errors">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input type="text" matInput aria-label="Company" formControlName="company">
      <mat-error *ngIf="userForm.controls.email.errors">This field is required!</mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" [disabled]="userForm.invalid">Create</button>
</div>
