@import '~@angular/material/theming';

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-purple);
$app-accent: mat-palette($mat-light-green);
$app-warn: mat-palette($mat-orange);
$app-error: mat-palette($mat-red);

// Create your Sass color vars (will be available in all the project)
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
$error: mat-color($app-error);

html, body {
  height: 100%;
  background-color: #3e3e3e;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-32 {
  margin: 32px;
}

table {
  width: calc(100% - 64px);
}

.mat-dialog-actions {
  justify-content: space-between;
}

.edit-btn:hover {
  color: $primary;
}

.del-btn:hover {
  color: $error;
}

.correction-column {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}



