<app-create-company *ngIf="showCreateWindow"
                    (onCompanyCreate)="getCompanies(); toggleCreateWindow()"
                    @slider
                    (onCancel)="toggleCreateWindow()">
</app-create-company>

<button *ngIf="!showCreateWindow"
        mat-mini-fab
        class="m-32"
        color="primary"
        style="margin-right: 0"
        (click)="toggleCreateWindow()">
  <mat-icon>add</mat-icon>
</button>


<table mat-table [dataSource]="companies" class="mat-elevation-z8 m-32">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let company"> {{company.name}} </td>
  </ng-container>

  <ng-container matColumnDef="quota">
    <th mat-header-cell *matHeaderCellDef> Quota</th>
    <td mat-cell *matCellDef="let company">
      <div class="correction-column">
        {{company.quotaString()}}
        <div>
          <button mat-icon-button aria-label="edit" class="edit-btn" (click)="editCompany(company)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="delete" class="del-btn" (click)="deleteCompany(company)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


