<mat-card class="mat-elevation-z7 m-32">
  <mat-card-title>New Company</mat-card-title>
  <mat-card-content>
    <form [formGroup]="companyForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput aria-label="Name" formControlName="name">
          <mat-error *ngIf="companyForm.controls.name.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Quota</mat-label>
          <input type="number" matInput aria-label="Quota" formControlName="quota">
          <mat-error *ngIf="companyForm.controls.quota.errors">This field is required!</mat-error>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="createCompany()" [disabled]="companyForm.invalid">
      Create
    </button>
    <button mat-button (click)="onCancel.emit()">
      Cancel
    </button>
  </mat-card-actions>
</mat-card>
